@media (max-width: 650px) {
  .cont {
    width: 390px !important;
    margin: auto;
  }
}

.btn {
  margin-top: 0.5rem !important;
}

.div {
  margin-inline: 1rem;
  padding-top: 1rem;
  overflow: auto;
}