.card {
  width: 600px;
  height: 170px;
}

@media (max-width: 650px) {
  .card {
    margin: auto;
    width: 390px !important;
  }
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
  padding-top: 1rem;
}

.post {
  margin-inline: 1rem !important;
  margin-top: 1rem !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-inline: 8px !important;
  width: auto;
  height: auto;
}

.date {
  padding-right: 1rem;
  text-align: right;
}

.dateText {
  font-size: 0.6rem !important;
}