.card {
  width: 600px;
  height: 170px;
}

@media (max-width: 650px) {
  .card {
    margin: auto;
    width: 390px !important;
    height: 250px;
  }
}

.flexContainer {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-top: 1rem;
}

.post {
  margin-inline: 1rem;
  margin-top: 1rem;
  padding-top: 4px;
  padding-inline: 8px;
  width: auto;
  height: 50px;
}

.date {
  padding-right: 1rem;
  text-align: right;
}

.dateText {
  font-size:0.6rem;
}