.card {
  width: 600px;
  height: 170px;
}

@media (max-width: 650px) {
  .card {
    margin: auto;
    width: 390px !important;
  }
}

.flexContainer {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-top: 1rem;
}

.post {
  margin-inline: 1rem;
  margin-top: 1rem;
  padding-top: 4px;
  padding-inline: 8px;
  width: auto;
  height: 50px;
  overflow: auto;
}

.btn {
  overflow: auto;
  margin-left: 1rem !important;
  margin-top: 0.5rem !important;
}